@import 'https://fonts.googleapis.com/css?family=Comfortaa:700';
@import 'https://fonts.googleapis.com/css?family=Cutive+Mono';

body{
    font-family: 'Comfortaa', serif;
    background: url("../images/wallpaper.jpg") no-repeat center center fixed #8C2538;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#controls {
    width: 60%;
    margin: auto;
    text-align: center;
}

#controls-contents {
    display: inline-block;
}


.pictureframe {
    position: relative;
    text-align: left;
    width: 100%;
    
}

#image {
    position: absolute;
    top: 69px;
    left: 69px;
    height: 28vw;
    width: 50vw;
    z-index: -2;
}

#frame {
    position: absolute;
    width: 61vw;
    height: 38vw;
    z-index: -1;
}



.timer {
    position: fixed;
    bottom: -2vmax;
    left: 50%;
    transform: translate(-50%);
    font-size: 10vmax;
    font-family: 'Cutive Mono', monospace;
    color: #FAF0E6;
    text-shadow: 5px 5px 10px #000000;
    letter-spacing: -2vmax;
    -webkit-app-region: drag;
}


.button {
    border-radius: 4px;
    font-size: 2vmax;
    background-color:  #FFF8E7;
    font-family: 'Comfortaa', serif;
    color: #3F2F4F;
    -webkit-app-region: no-drag;
}
    .button:disabled {
        display: none;
    }


.input {
    border-radius: 4px;
    font-size: 2vmax;
    background-color:  #FFF8E7;
    font-family: 'Comfortaa', serif;
    color: #3F2F4F;
    width: 10vmax;
    -webkit-app-region: no-drag;
}
    .input:disabled {
        display: none;
    }
    .input#gifSelect {
        width: 18vmax;
        font-size: 1.5vmax;
        text-align-last:center
    }


.youtube {
    background-image: url(../images/youtube_ico.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px 0px 0px;
    border: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    padding-left: 16px;
    vertical-align: middle;
    -webkit-app-region: no-drag;
    z-index: 3;
}


.top-left {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1vmax;
}
